extends base.pug

block style
    style
        include ../static/css/about.css

block content
    section#about
        h1 About
        p Nothing much here ! This is just the About section of our wesbite. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium ipsum lectus, et hendrerit orci cursus quis. Cras tempus elit in est lobortis elementum. Cras auctor nec ex quis elementum. Maecenas id quam efficitur, aliquet ex in, varius tortor. Nunc ullamcorper commodo ipsum vitae gravida. Donec aliquam tellus nunc, eget convallis ipsum congue id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ipsum ligula, sodales eget justo vitae, commodo placerat dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        
        p In pellentesque egestas odio. Vivamus consectetur justo a ligula pellentesque feugiat. Fusce ornare metus ligula, convallis dictum risus volutpat ac. Cras facilisis sit amet nunc ac eleifend. Quisque a nisi nulla. Aliquam in sagittis justo, sed pharetra diam. Vivamus elementum lectus lobortis purus consectetur, eu porta elit accumsan. Pellentesque sed vestibulum urna. Vivamus diam sapien, bibendum nec arcu ac, hendrerit hendrerit nibh. Nulla lobortis convallis tortor, et maximus sem efficitur ut.

        p Praesent a cursus ex. Nunc vehicula elit hendrerit maximus fringilla. Integer sit amet velit venenatis, ultrices nisl scelerisque, pharetra dui. Vivamus semper malesuada odio, condimentum vulputate risus aliquam vel. Nunc convallis posuere arcu ac maximus. Aenean non urna vitae magna malesuada maximus. Nulla sed sem et velit commodo sodales. Sed quis porta felis. Integer a faucibus magna, eget lacinia nibh. Donec condimentum felis eget purus vulputate pellentesque. Duis non turpis non justo cursus porttitor vel at ante. Phasellus sagittis imperdiet odio, eu semper est convallis sit amet. Fusce venenatis, eros sit amet suscipit gravida, dui sem pulvinar urna, a interdum odio nibh in ante. Fusce tempor quam eget massa semper molestie. Curabitur in ultrices leo. Praesent ligula lorem, porta quis erat ut, efficitur vestibulum metus.

        p Donec quis mauris nec libero porta iaculis. Etiam ac ante quis purus molestie condimentum nec a odio. In nec aliquet neque. In hac habitasse platea dictumst. Maecenas interdum mauris consectetur nisl laoreet, sit amet sollicitudin nunc convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at rutrum urna. Aliquam tincidunt mauris ac urna aliquet feugiat.

        p Donec aliquam mi ut semper pharetra. Proin at nisi in magna malesuada vulputate id non dolor. Donec pharetra, arcu eu efficitur facilisis, purus lacus suscipit dui, sit amet iaculis libero quam ac lectus. Cras molestie orci ac risus iaculis, fringilla sodales neque mattis. Aenean aliquam mollis dui tincidunt bibendum. Morbi convallis, arcu vitae laoreet ornare, justo felis facilisis lorem, ac eleifend ligula diam et massa. Sed molestie aliquet nunc, vitae ultricies nulla iaculis rutrum. Donec dictum interdum lectus sit amet vestibulum. Nunc at felis nunc.