extends base.pug

block style
    style
        include ../static/css/gallery.css

block content
    section#gallery
        h1 Gallery
        div.flex 
            div.imagebox: img(src="../static/images/gallery/1.jpeg")
            div.imagebox: img(src="../static/images/gallery/2.jpeg")
            div.imagebox: img(src="../static/images/gallery/3.jpeg")
            div.imagebox: img(src="../static/images/gallery/4.jpeg")
            div.imagebox: img(src="../static/images/gallery/5.jpeg")
            div.imagebox: img(src="../static/images/gallery/6.jpeg")
            div.imagebox: img(src="../static/images/gallery/7.jpeg")
            div.imagebox: img(src="../static/images/gallery/8.jpeg")
            div.imagebox: img(src="../static/images/gallery/9.jpeg")
            div.imagebox: img(src="../static/images/gallery/10.jpeg")
            div.imagebox: img(src="../static/images/gallery/11.jpeg")
            div.imagebox: img(src="../static/images/gallery/12.jpeg")